:root {
  --primary: #25857d;
  --secondary: rgba(46, 204, 113, 0.15);
  --background-light: #f8f9fa;
  --background-secondary-light: #faf8f5;
  --text-primary-light: #000000;
  --background-dark: #062a28;
  --text-primary-dark: #ffffff;
  --text-muted: #94a3b8;
  --shadow-light: rgba(0, 0, 0, 0.4);
  --shadow-dark: rgba(255, 255, 255, 0.4);
  --border-light: #e0e0e0;
}